<h2><%= @first_name %> <%= @last_name %></h2>

<p>Name: <b><%= @first_name %> <%= @last_name %></b></p>
<p>Email: <b><%= @email %></b></p>
<p>Home Phone: <b><%= @home_phone %></b></p>
<p>Cell Phone: <b><%= @cell_phone %></b></p>
<p>Work Phone: <b><%= @work_phone %></b></p>
<p>Address 1: <b><%= @address_one %></b></p>
<p>Address 2: <b><%= @address_two %></b></p>
<p>City: <b><%= @city %></b></p>
<p>State: <b><%= @state %></b></p>
<p>Zipcode: <b><%= @zipcode %></b></p>
<p>Notes:</p>
<p><%= @notes %></p>
<a href="/contacts/user/edit/<%= @id %>">Edit</a>